.apresentacao{
    margin: 0 auto;
    background-color: #E39B2E;
}

.apresentacao h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px;
  color: #000;
}

.apresentacao .container{
  display: flex;
  padding-bottom: 40px;
}

.apresentacao .container img, .atributos{
  width: 46%;
  margin: 0 2%;
}

.container img{
  max-width: 500px;
  height: 500px;
  border-radius: 10px;
}

.atributos h2{
  color: #000;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.atributos ul{
  list-style: none;
}

.atributos ul li{
  font-size: 20px;
  margin-bottom: 10px;
}


.viagem h2{
  background-color: #DFCA30;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.viagem .container{
  background-color: #DFCA30;
}

.viagem  .container{
  padding: 30px;
  display: flex;
}

.viagem  img{
  width: 50%;
  max-width: 500px;
  height: 500px;
  border-radius: 10px;
}

.viagem  .paragrafo{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.paragrafo p{
  font-size: 20px;
  padding: 30px;
  text-indent: 50px;
}


@media screen and (max-width: 1150px){
  .apresentacao .container img{
    height: 400px;
  }

  .atributos ul li{
    font-size: 17px;
  }

  .paragrafo p{
    font-size: 18px;
    padding: 25px;
    text-indent: 50px;
  }

  .viagem img{
    max-width: 400px;
    height: 400px;
  }
}



@media screen and (max-width: 900px){

  .apresentacao .container img{
    height: 350px;
  }

  .apresentacao h1{
    font-size: 30px;
  }

  .atributos ul li{
    font-size: 14px;
  }

  .viagem h2{
    padding-bottom: 20px;
    font-size: 25px;
  }

  .viagem .container{
    padding: 20px;
  }

  .viagem img{
    max-width: 350px;
    height: 350px;
  }

  .paragrafo p{
    font-size: 16px;
    padding: 20px;
  }
}


@media screen and (max-width: 700px){

  .apresentacao .container img{
    max-width: 300px;
    height: 300px;
  }

  .atributos h2{
    font-size: 22px;
  }

  .atributos ul li{
    font-size: 12px;
  }


  .viagem h2{
    font-size: 20px;
  }

  .viagem img{
    max-width: 300px;
    height: 300px;
  }

  .paragrafo p{
    font-size: 14px;
    padding: 15px;
    text-indent: 35px;
  }
}



@media screen and (max-width: 600px){

  .apresentacao h1{
    font-size: 23px;
  }

  .apresentacao .container img{
    height: 250px;
  }

  .atributos h2{
    font-size: 16px;
  }

  .atributos ul li{
    font-size: 10px;
  }


  .viagem h2{
    padding-bottom: 10px;
    font-size: 20px;
  }

  .divisao .container{
    padding: 15px;
  }

  .divisao img{
    max-width: 250px;
    height: 250px;
  }

  .paragrafo p{
    font-size: 10px;
    padding: 10px;
    text-indent: 30px;
  }
}
