.apresentacao{
    margin: 0 auto;
    background-color: #E39B2E;
}

.apresentacao h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 20px;
  color: #000;
}

.container{
  display: flex;
  padding-bottom: 40px;
}

.container img, .atributos, .endereco{
  width: 30%;
  margin: 0 2%;
}

.container img{
  max-width: 300px;
  height: 300px;
  border-radius: 10px;
}

.atributos{
  border-right: 1px solid white;
}

.atributos h2, .endereco h2{
  color: #000;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.atributos ul, .endereco ul{
  list-style: none;
}

.atributos ul li, .endereco ul li{
  font-size: 20px;
  margin-bottom: 10px;
}



@media screen and (max-width: 1150px){
  .container img{
    height: 250px;
  }

  .atributos ul li, .endereco ul li{
    font-size: 17px;
  }
}



@media screen and (max-width: 900px){
  .apresentacao h1{
    font-size: 30px;
  }

  .atributos ul li, .endereco ul li{
    font-size: 14px;
  }
}


@media screen and (max-width: 700px){

  .container img{
    max-width: 300px;
    height: 200px;
  }

  .atributos h2, .endereco h2{
    font-size: 22px;
  }

  .atributos ul li, .endereco ul li{
    font-size: 12px;
  }
}



@media screen and (max-width: 600px){

  .apresentacao h1{
    font-size: 23px;
  }

  .container img{
    height: 175px;
  }

  .atributos h2, .endereco h2{
    font-size: 16px;
  }

  .atributos ul li, .endereco ul li{
    font-size: 10px;
  }
}
