*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.principal{
  width: 96vw;
  max-width: 1200px;
  margin: auto;
}

/* MENU */
.capa img{
  width: 100vw;
  max-width: 100%;
}

nav{
  background-color: #00143E;
  height: 60px;
  margin-top: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li{
  transition: 1s all;
}

nav ul li:hover{
  transform: scale(1.1);
}

nav ul li a, nav ul li select{
  padding: 5px;
  color: #fff;
  border-radius: 10px;
  background-color:  #4168A8;
  border: none;
  font-size: 18px;
  text-decoration: none;
}

nav ul li select:hover{
  cursor: pointer;
}

.bandeiras:hover{
  transform: scale(1.0);
}

.bandeiras a{
  padding: 0;
  background-color:  #00143E;
}

.bandeiras img{
  margin-right: 5px;
	width: 50px;
	height: 30px;
  transition: 1s all;
}

.bandeiras img:hover{
  transform: scale(1.1);
}

/* RODAPÉ */
footer{
  text-align: center;
  background-image: url("../img/bg.jpg");
  padding: 40px;
}

footer img{
  width: 200px;
  height: 100px;
}

.copyright{
  color: #ffffff;
  font-size: 13px;
  margin-top: 20px;
}



@media screen and (max-width: 900px){
  nav{
    height: 50px;
  }

  nav ul li a, nav ul li select{
    padding: 4px;
    font-size: 16px;
  }

  .bandeiras img{
    margin-right: 0px;
  	width: 35px;
  	height: 25px;
  }

  footer{
    padding: 30px;
  }

  footer img{
    width: 150px;
    height: 75px;
  }

  .copyright{
    font-size: 11px;
  }

}


@media screen and (max-width: 700px){
  nav{
    height: 40px;
  }

  nav ul li a, nav ul li select{
    padding: 3px;
    font-size: 14px;
  }

  .bandeiras img{
  	width: 30px;
  	height: 20px;
  }
}



@media screen and (max-width: 600px){

  nav ul li a, nav ul li select{
    font-size: 12px;
  }

  .bandeiras img{
  	width: 20px;
  	height: 10px;
  }

  footer{
    padding: 20px;
  }

  footer img{
    width: 120px;
    height: 60px;
  }

  .copyright{
    font-size: 10px;
  }
}
